<div>
  <div class="split left">
    <div class="centered">
      <img width="300" alt="Logo" src={{channelLogoOneUrl}}>
      <h2>{{channelOne}}</h2>
      <h1 style="border: dotted">{{subscriberOneStr}}</h1>
    </div>
  </div>
  <div class="split right">
    <div class="centered">
      <img width="300" alt="Logo" src={{channelLogoTwoUrl}}>
      <h2>{{channelTwo}}</h2>
      <h1 style="border: dotted">{{subscriberTwoStr}}</h1>
    </div>
  </div>
</div>
<br />
  <div class="centered">
    <h1 class="diff">Difference: {{differenceStr}}</h1>
  </div>